@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* zinc-950 */
  color: #d4d4d8; /* zinc-300 */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection {
  background: #3f3f46; /* zinc-700 */
  color: #f4f4f5;
}